.demo {
    height: 10rem;
    width: 20rem;
    border: 10px solid red;
    background-color: white;
}

.demo2 {
    height: 10rem;
    width: 20rem;
    border: 10px solid red;
    background-color: green;
}

.demo3 {
    height: 10rem;
    width: 20rem;
    border: 10px solid red;
    background-color: aqua;
}

.active {
    background-color: darkblue;
}